*.exe
*.pt
*.onnx
*.pyc
*.pth
*.index
*.mp3
*.flac
*.ogg
*.m4a
*.bin
*.wav
*.txt
*.zip
*.png
*.safetensors

assets/audios
assets/config.json
assets/datasets
logs
rvc/models
env
venv
.venv
outputs
datasets
*.lnk
*.tmp
*.mixed_tmp.wav
